{% extends 'base.html' %}

{% block title %}Perfil de Usuario{% endblock %}

{% block content %}

<div class="container">

    <div class="mt-5">
        <h1>Inventario: Insumos</h1>
        <div class="contenedor">
            <table class="table table-hover" style="max-height: 10px; overflow-y: scroll;">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Tipo</th>
                        <th>Nombre</th>
                        <th>Marca</th>
                        <th>Modelo</th>
                        <th>Numero de Serie</th>
                        <th>Descripcion</th>
                        <th></th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    {% for equipo in equipos  %}
                    <tr>
                        <td>{{ equipo.id_equipo }}</td>
                        <td>{{ equipo.id_tipo }}</td>
                        <td>{{ equipo.nombre }}</td>
                        <td>{{ equipo.marca }}</td>
                        <td>{{ equipo.modelo }}</td>
                        <td>{{ equipo.Numero_serie }}</td>
                        <td>{{ equipo.descripcion }}</td>
                        <td>
                            <a href="{% url 'editar_equipo' id=equipo.id_equipo %}" class="btn btn-info">Editar</a>
                        </td>
                        <td>
                            <form action="{% url 'eliminar_equipo' id=equipo.id_equipo %}" method="post" onsubmit="return confirm('¿Estás seguro de que quieres eliminar este producto?');">
                                {% csrf_token %}
                                <button type="submit" class="btn btn-danger">Eliminar</button>
                            </form>
                        </td>
                    </tr>
                    {% empty %}
                    <tr>
                        <td colspan="4">No hay productos registrados.</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        <br>
        <h2>Dar de alta producto</h2>
        <form method="post">
            {% csrf_token %}
            <div class="form-group">
                <label for="id_tipo">Tipo</label>
                <select id="id_tipo" class="form-control" name="{{ form.id_tipo.html_name }}" required>
                    {% for pos in tipos %}
                    <option value="{{ pos.id_tipo }}">{{ pos.tipo }}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="form-group">
                <label for="nombre">{{ form.nombre.label }}</label>
                <input type="text" class="form-control" id="nombre" name="{{ form.nombre.html_name }}" value="{{ form.nombre.value|default_if_none:'' }}" placeholder="Ingrese el nombre" required>
            </div>
            <div class="form-group">
                <label for="marca">{{ form.marca.label }}</label>
                <input type="text" class="form-control" id="marca" name="{{ form.marca.html_name }}" value="{{ form.marca.value|default_if_none:'' }}" placeholder="Ingrese la marca" required>
            </div>
            <div class="form-group">
                <label for="modelo">{{ form.modelo.label }}</label>
                <input type="text" class="form-control" id="modelo" name="{{ form.modelo.html_name }}" value="{{ form.modelo.value|default_if_none:'' }}" placeholder="Ingrese el modelo" required>
            </div>
            <div class="form-group">
                <label for="Numero_serie">{{ form.Numero_serie.label }}</label>
                <input type="number" class="form-control" id="Numero_serie" name="{{ form.Numero_serie.html_name }}" value="{{ form.Numero_serie.value|default_if_none:'' }}" placeholder="Ingrese el número de serie" required>
            </div>
            <div class="form-group">
                <label for="descripcion">{{ form.descripcion.label }}</label>
                <input type="text" class="form-control" id="descripcion" name="{{ form.descripcion.html_name }}" value="{{ form.descripcion.value|default_if_none:'' }}" placeholder="Ingrese la descripcion" required>
            </div>
            <button type="submit" class="btn btn-success" style="width: 48%;">Alta de inventario</button>
            <a href="/GeneralInventario/Equipos/Tipos"><input type="button" class="btn btn-info" style="width: 48%;" value="Crear Tipo de Equipo"></a>
        </form>
    <br>
    <a href="/GeneralInventario"><input type="button" class="btn btn-danger" style="width: 50%; margin-left: 25%;" value="Cancelar"></a>
    </div>

{% endblock %}
