{% extends 'base.html' %}

{% block title %}Perfil de Usuario{% endblock %}

{% block content %}

<div class="container">
    <div class="mt-5">
        <h1>Activos</h1>
        <div class="contenedor">
            <table class="table table-hover" style="max-height: 10px; overflow-y: scroll;">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Tipo</th>
                    </tr>
                </thead>
                <tbody>
                    {% for tipo in tipos %}
                    <tr>
                        <td>{{ tipo.id_tipo }}</td>
                        <td>{{ tipo.tipo }}</td>
                       
                    </tr>
                    {% empty %}
                    <tr>
                        <td colspan="4">No hay Tipos registrados.</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>

        <h2>Crear Tipo</h2>
        <form method="POST">
            {% csrf_token %}
            <div class="form-group">
                <label for="tipo">{{ form.tipo.label }}</label>
                <input type="text" class="form-control" id="tipo" name="{{ form.tipo.html_name }}" value="{{ form.tipo.value|default_if_none:'' }}" placeholder="Ingrese el tipo" required>
            </div>
            <button type="submit" class="btn btn-success" style="width: 48%;">Crear Tipo</button>
            <a href="/GeneralInventario/Insumos/"><input type="button"  class="btn btn-danger"  style="width: 48%;" value="Cancelar"></a>
        </form>
    </div>
</div>

<script>
    // Obtener la fecha de hoy en el formato adecuado
    const today = new Date().toISOString().split('T')[0];
    // Establecer la fecha mínima del input como la fecha de hoy
    document.getElementById('caducidad').setAttribute('min', today);
</script>

{% endblock %}
